.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media print
{
    .sliporderno { display: none!important; }
    .print { display: block; }
} 

.PersistentDrawer-appFrame-3 {
    width: 100%;
    height: 80px;
    z-index: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}
.form-control {
  display: block;
  width: 380px;
  height: 25px;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  margin-bottom: 5px;
}

.search{
height: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  background-color: whitesmoke;
}

.apps{
  max-width: 480px;
  margin: auto;
  background-color: white;
 
}

.divTable{
  margin-top: 25px;
}

ul{
  padding: 0;
  display: table;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.innerTable{
  width: 50%;
  border: 0.5px solid rosybrown;
  border-width: 1px 0.5px;
  display: inline-block;
  list-style-type: none;
}

.aTable{
  display: block;
  height: 50px;
  padding: 10px 35px;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
}

.ulTable{
  width: 100%;
  border: 0.5px solid rosybrown;
  border-width: 1px 1px 2px 1px;
  display: inline-block;
  list-style-type: none;
  
}

.liTable{
  display: grid;
  height: 50px;
  padding: 10px 35px;
  font-size: 13px;
  line-height: 15px;
  float: left;
}


.divTopProduct{
  background-color: #eabcbb;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.pTopPro{
  text-align: left;
}

.aTopPro{
  text-align: right;
}

.cardCard{
  margin-top: 10px;
}

.cardTitles{
  margin-top: 12px;
  font-size: 18px;
}

.cardPrice{
  font-size: 14px;
}

.text-muted{
  font-size: 13px;
}

.cardTexts{
  font-size: 10px;
}

.contCard{
  margin-top: 8px;
}

.cardButton{
  float: right;
  margin-bottom: 8px;
}

.contBrand{
  margin-top: 25px;
}

.rowBrands{
  padding-top: 20px;
  padding-bottom: 20px;
}

.divHelps{
  background-color: #eabcbb;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.contFooters{
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconFooter{
  margin-left: 10px;
  margin-right: 10px;
}

.iconButton{
  margin-bottom: 10px;
}

.contUs{
  border-top: 1px solid grey;
  text-align: center;
}

.pUs{
  margin-top: 4px;
  color: grey;
}

.WithItsApp{
  margin-top:10px;
}

.purchase-card{
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.purchase-card> .show-grid{
  padding-bottom: 1.5em;
}

@media print
{
    .sliporderno { display: none!important; }
    .print { display: block; }
}



.center{
  text-align: center;
  display: inline;
  margin-left: 4rem;

}