body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  background-color: whitesmoke;
}

.apps{
  max-width: 480px;
  margin: auto;
  background-color: white;
 
}

.divTable{
  margin-top: 25px;
}

ul{
  padding: 0;
  display: table;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.innerTable{
  width: 50%;
  border: 0.5px solid rosybrown;
  border-width: 1px 0.5px;
  display: inline-block;
  list-style-type: none;
}

.aTable{
  display: block;
  height: 50px;
  padding: 10px 35px;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
}

.ulTable{
  width: 100%;
  border: 0.5px solid rosybrown;
  border-width: 1px 1px 2px 1px;
  display: inline-block;
  list-style-type: none;
  
}

.liTable{
  display: grid;
  height: 50px;
  padding: 10px 35px;
  font-size: 13px;
  line-height: 15px;
  float: left;
}


.divTopProduct{
  background-color: #eabcbb;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.pTopPro{
  text-align: left;
}

.aTopPro{
  text-align: right;
}

.cardCard{
  margin-top: 10px;
}

.cardTitles{
  margin-top: 12px;
  font-size: 18px;
}

.cardPrice{
  font-size: 14px;
}

.text-muted{
  font-size: 13px;
}

.cardTexts{
  font-size: 10px;
}

.contCard{
  margin-top: 8px;
}

.cardButton{
  float: right;
  margin-bottom: 8px;
}

.contBrand{
  margin-top: 25px;
}

.rowBrands{
  padding-top: 20px;
  padding-bottom: 20px;
}

.divHelps{
  background-color: #eabcbb;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.contFooters{
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconFooter{
  margin-left: 10px;
  margin-right: 10px;
}

.iconButton{
  margin-bottom: 10px;
}

.contUs{
  border-top: 1px solid grey;
  text-align: center;
}

.pUs{
  margin-top: 4px;
  color: grey;
}




